* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-top: 45px;
    background-color: #3f94e7;
    text-align: center;
    font-family: sans-serif;
}

.sign-up-form {
    max-width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    margin-top: 22px;
}

img {
    height: 35px;
}

input,
button {
    height: 55px;
    width: 320px;
    padding: 15px;
    border: 2px solid #c7c3c3;
    outline: none;
}

input {
    font-size: 20px;
    margin-bottom: 35px;
}

span {
    float: left;
}

button {
    background-color: #65c46f;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 26px;
    color: white;
    cursor: pointer
}

button:hover {
    background-color: #247d2e;
}

.forgot-password,
h1 {
    color: #c7c3c3;
    font-weight: 200;
    margin-bottom: 50px;
}

a:link {
    color:
}

.login {
    color: white;
}

h3 {
    color: white;
}
